body {
    background: lightgrey;
    color: black;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 1000px;
    margin: auto;
}

.title {
    border: 1px solid black;
    border-radius: 10px;
    background-color: dimgray;
    font-size: 14px;
}
.logo {
    float: left;
    width: 60px;
}

.menu {
    list-style: none;
}
.menu > a {
    float: left;
    background: #044fac;
    height: 50px;
    width: 25%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 0px;
}
.menu a {
    color: #fff;
    display: block;
    height: 50px;
    font-size: 20px;
    text-decoration: none;
}
.menu a:hover {
    background: #b4145b;
    border-radius: 5px;
}
.menu::after {
    content: "";
    clear: both;
    display: table;
}
main section img {
    width: 256px;
    height: 256px;
    object-fit: cover;
    border-radius: 10px;
    border: 5px outset bisque;
    margin-bottom: -20px;
    
    
}
span {
    text-align: center;
}
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    margin-bottom: 25px;
}
.card_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
main section {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.3), 1px 5px 18px 1px rgba(0, 0, 0, 0.2);
    max-width: 266px;
}
main section h4 {
    color: #044fac;
    height: 25px;
    font-size: 18px;
    margin-bottom: -25px;
    
}
main section h6 {
    color: rgba(255, 0, 106, 0.699);
    font-size: 15px;  
    margin-bottom: 0px;
}
main section p {
    font-style: italic;
}
main section button {
    background-color: #044fac;
    color: white;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    height: 50px;
    font-size: 16px;
    transition-duration: 0.5s;
    cursor: pointer;
}
main section button:hover {
    background-color: #b4145b;
}
main section button:active {
    background-color: greenyellow;
    cursor: wait;
}

footer div {
    float: left;
    height: 150px;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    background: dimgray;
    margin-top: 50px;
}
footer div h2 {
    color: black;
}
footer div a {
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 5px;
}
footer div a:hover {
    color: #b4145b;
    text-decoration: underline;
}

.copy {
    float: left;
    text-align: right;
    box-sizing: border-box;
    background-color: dimgray;
    border: 1px solid black;
    border-radius: 10px;
    height: 50px;
    width: 100%;
}